html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-family: Microsoft YaHei, Microsoft YaHei-Bold, Helvetica Neue, Helvetica, PingFang SC, Hiragino Sans GB,
     Arial, sans-serif;
}
#app {
  height: 100%;
  display: flex;
  justify-content: center;
}